<!DOCTYPE html>
<html lang="en">
<head>
  <link type="text/css" rel="stylesheet" href="app.css">
</head>
<body class="container">
  <section id="content"><div><%- content %></div></section>
  <script src="app.js"></script>
</body>
</html>
